<ActionBar title="VPC Youth" icon="" class="action-bar">
</ActionBar>
<AbsoluteLayout class="page">
    <Button class="circle"></Button>
    <Label text="Events" class="text-light label1 font-weight-bold" isUserInteractionEnabled="false"></Label>
    <Button class="circle2"></Button>
    <Label text="About" class="label2 font-weight-bold" isUserInteractionEnabled="false"></Label>
    <Button class="circle4"></Button>
    <Label text="Contact" class="text-light label4 font-weight-bold" isUserInteractionEnabled="false"></Label>
    <Button class="circle3"></Button>
    <Label text="Volunteer" class="text-light label3 font-weight-bold" isUserInteractionEnabled="false"></Label>
    
</AbsoluteLayout>
